@using Movies.Web.Models

@model MovieViewModel

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<div class="container-fluid">
    <ol class="breadcrumb clearfix">
        <li><a href="@Url.Action("Index")">Home</a></li>
        <li>Edit</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">EDIT MOVIE</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(_ => _.MovieId)
                @Html.Partial("_Maintain")
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/movies.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}